<ion-view style="" title="Auswertungen">
    <ion-content class="has-header" padding="'true'">
         <div class="row">
            <div class="col">
            <span class="input-label" >Startdatum :
            <label style="" class="item item-input">
                <input placeholder="Datum" ng-model = "Zeitraum.Startdatum" type="date">
            </label></span>
            </div>
            <div class="col">
            <span class="input-label" >Enddatum :
            <label style="" class="item item-input">
                <input placeholder="Datum" ng-model = "Zeitraum.Enddatum" type="date">
            </label></span>
            </div>
        </div>
        <div class = "row">
        <button style="" class="button button-positive" ng-click = "Auswerten()">Auswerten</button>
        </div>
    <div class="card">
        <div class="item item-divider">
            Ausgaben aller Gruppen im gewählten Zeitraum
        </div>
        <div class="item item-text-wrap">
            <canvas id="line" class="chart chart-line" data="chartData.data" labels="chartData.labels" legend="true" series="chartData.series"></canvas>
        </div>
    </div>
    </ion-content>
</ion-view>