<ion-view style="" title="Home">
    <ion-content class="has-header" padding="'true'">
        <a href="#/app/purchases_overview">
        <img style="width: 49%; height: auto;" src="img/CARD_Einkaufen.png" height="auto" width="49%">
        </a>
         <a href="#/app/groups">
        <img style="width: 49%; height: auto;" src="img/CARD_Gruppen.png" height="auto" width="49%">
        </a>
        <a href="#/app/auswertung">
        <img style="width: 49%; height: auto;" src="img/CARD_Auswertung.png" height="auto" width="49%" >
        </a>
        <a href="#/app/settings">
        <img style="width: 49%; height: auto;" src="img/CARD_Settings.png" height="auto" width="49%">
        </a>
    </ion-content>
</ion-view>