<ion-view style="" title="Login" cache-view="false">
  <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
  </ion-nav-bar>
    <ion-content class="has-header" padding="'true'">
        <form style="" class="list" ng-submit="doLogin()">
            <ion-list style="">
                <label style="" class="item item-input">
                    <span class="input-label" >Username</span>
                    <input placeholder="" type="text" ng-model="loginData.username">
                </label>

                <div ng-hide = "passwordshow.state">
                <label style="" class="item item-input">
                    <span class="input-label" ng-model="loginData.password">Password</span>
                    <input placeholder="" type="password" ng-model="loginData.password">
                </label>
                </div>
                <div ng-show = "passwordshow.state">
                <label style="" class="item item-input">
                    <span class="input-label" ng-model="loginData.password">Password</span>
                    <input placeholder="" type="text" ng-model="loginData.password">
                </label>
                </div>

                <ion-checkbox ng-model="Checkbox.value" ng-click="showPassword()">Passwort anzeigen</ion-checkbox>

            </ion-list>
            <div style="height: 40px;" class="spacer"></div>
            <button class="button button-stable button-block" type="submit">Log in</button>
            <a style="" class="button button-positive button-clear button-block " href="#/register" menu-close="">Or create an account</a>
        </form>
        <div class="card" ng-show="error.state">
            <div class="item item-text-wrap">{{error.message}}</div>
        </div>
    </ion-content>
</ion-view>
