<ion-view style="" title="Markt auswählen">
    <ion-content class="has-header" padding="'true'">
        <div style="" class="list card">
            <div class="item item-divider">Markt auswählen</div>
            <div class="item item-body">
                <ion-list style="">
                    <label style="" name="market_search" class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input placeholder="Markt eingeben" type="search">
                    </label>
                    <ion-item style="" href="#/app/purchases" menu-close="">Testmarkt</ion-item>
                    <ion-item style="" menu-close="">Item 2</ion-item>
                    <ion-item style="" menu-close="">Item 3</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>