<ion-view style="" title="Mitgliederdetails">
    <ion-content class="has-header" padding="'true'">
        <form style="" class="list">
            <ion-toggle style="" toggle-class="toggle-positive">Bearbeitung</ion-toggle>
            <ion-toggle style="" toggle-class="toggle-positive">Einladungen</ion-toggle>
            <ion-toggle style="" toggle-class="toggle-positive">Mitglieder löschen</ion-toggle>
        </form>
        <button style="" class="button button-stable button-block button-small icon ">Speichern</button>
    </ion-content>
</ion-view>