<ion-view style="" title="Produktdetails">
    <ion-content class="has-header" padding="'true'">
        <div style="" class="list card">
            <div class="item item-divider">Produkt : {{product.article_costs.article.name}}</div>
            <div class="item item-body">
                <ion-list style=""></ion-list>
                <ion-list style="">
                    <ion-item style="" class="item-divider">Preis: {{product.article_costs.costs.price}}</ion-item>
                    <ion-item style="" menu-close=""></ion-item>
                    <ion-item style="" class="item-divider">Anzahl: {{product.amount}}</ion-item>
                    <ion-item style="" menu-close=""></ion-item>
                </ion-list>
            </div>
        </div>
        <a style="" class="button button-stable button-icon  icon-left ion-android-arrow-back" href="#/app/purchases_overview" menu-close=""></a>
    </ion-content>
</ion-view>
