<ion-view style="" title="Einkaufsdetails">
    <ion-content class="has-header" padding="'true'">
        <ion-list style="">
            <ion-item style="" href="#/app/product_details" menu-close="">Produkt 1</ion-item>
            <ion-item style="" href="#/app/product_details" menu-close="">Produkt 2</ion-item>
            <ion-item style="" href="#/app/product_details" menu-close="">Produkt 3</ion-item>
        </ion-list>
        <a style="" class="button  button-icon  icon-left ion-android-arrow-back" href="#/app/purchases_overview" menu-close=""></a>
    </ion-content>
</ion-view>