<ion-view style="" title="Einkäufe" cache-view="false">
    <ion-content class="has-header" padding="'true'">
        <h1 style="">Übersicht</h1>
        <ion-list style="">
            <ion-item ng-repeat="purchase in purchases track by purchase.date"  href="#/app/purchases/{{$index}}" style="" menu-close="">
              {{purchase.title}}
              <span class="item-note">{{purchase.date | date:'medium'}}</span></ion-item>
        </ion-list>
        <a style="" class="button button-stable button-block  icon-left ion-android-add" href="#/app/market" menu-close="">Neuer Einkauf</a>
        <a style="" class="button button-stable button-block" ng-click="clearStorage()">Alle löschen</a>
    </ion-content>
</ion-view>
