<ion-view style="" title="Einkaufen" cache-view="false">
  <ion-content class="has-header" padding="'true'">
    <h3 style="">Markt 1 (Auswahl)</h3>
    <div style="" class="list card">
      <div class="row">
        <div class="col">Artikel</div>
        <div class="col">Preis</div>
      </div>
      <div class="item item-body">
        <ion-list style="">
          <ion-list style="">
            <ion-item ng-repeat="product in products track by $index">
              {{product.amount}} x {{product.name}}
              <span class="item-note">
                 {{product.price}} €
              </span>
            </ion-item>
          </ion-list>
        </ion-list>
      </div>
    </div>
    <button style="" class="button button-positive button-block  icon-right ion-android-camera" ng-click="scan()">Barcode Scanner</button>
    <a style="" class="button button-stable button-block " href="#/app/purchases_match" menu-close="">Einkauf abschließen</a>
  </ion-content>
</ion-view>
