<!-- View is outdated. Will be removed in near future! see /templates/group_add.html for new Group Add View-->
<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Neues Produkt</h1>
    <button class="button button-clear button-positive" ng-click="closeModal()">Abbrechen</button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <label class="item item-toggle">
        Sonderangebot
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="toggle">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </label>
      <label class="item item-input">
        <span class="input-label">EAN:</span>
        <input type="text" placeholder="EAN" ng-model="product.ean">
      </label>
      <label class="item item-input">
        <span class="input-label">Produkt:</span>
        <input type="text" placeholder="Produktname" ng-model="product.name">
      </label>
      <label class="item item-input">
        <span class="input-label">Menge:</span>
        <input type="number" placeholder="number" ng-model="product.amount">
      </label>
      <label class="item item-input" ng-hide="toggle">
        <span class="input-label">Einzelpreis:</span>
        <input type="text" placeholder="Preis" ng-model="product.price">
      </label>
      <div ng-show="toggle">
        <div class="item item-divider">
          Angebot
        </div>
        <label class="item item-input">
          <span class="input-label">Angebotsbeginn</span>
          <input type="date" placeholder="Menge" ng-model="product.offer.start_date">
        </label>
        <label class="item item-input">
          <span class="input-label">Angebotsende</span>
          <input type="date" placeholder="Menge" ng-model="product.offer.end_date">
        </label>
        <label class="item item-input">
          <span class="input-label">Sonderpreis</span>
          <input type="text" placeholder="Menge" ng-model="product.offer.price">
        </label>
      </div>
    </ion-list>
    <button class="button button-full button-positive" ng-click="finishProduct()">Speichern</button>
  </ion-content>
</ion-modal-view>
