<ion-view style="" title="Einkäufe">
    <ion-content class="has-header" padding="'true'">
        <ion-list style="">
            <ion-item style="" href="#/page12" menu-close="">Item 1</ion-item>
            <ion-item style="" href="#/page12" menu-close="">Item 2</ion-item>
            <ion-item style="" href="#/page12" menu-close="">Item 3</ion-item>
            <ion-item style="" href="#/page12" menu-close="">Item 4</ion-item>
            <ion-item style="" href="#/page12" menu-close="">Item 5</ion-item>
        </ion-list>
    </ion-content>
</ion-view>