<ion-view style="" title="Gruppenverwaltung">
    <ion-content class="has-header" padding="'true'">
        <a style="" class="button button-positive button-block  icon-left ion-android-contacts" href="#/newgroup" menu-close="">Neue Gruppe</a>
        <div style="" class="list card">
            <div class="item item-divider">Meine Gruppen</div>
            <div class="item item-body">
                <ion-list style="">
                    <label style="" class="item item-input">
                        <i class="icon ion-search placeholder-icon"></i>
                        <input placeholder="" type="search">
                    </label>
                    <ion-item style="" href="#/details" menu-close="">Testgruppe</ion-item>
                    <ion-item style="" href="#/details" menu-close="">Item 2</ion-item>
                    <ion-item style="" href="#/details" menu-close="">Item 3</ion-item>
                </ion-list>
            </div>
        </div>
    </ion-content>
</ion-view>
