<ion-view style="" title="Home">
    <ion-content class="has-header" padding="'true'">
        <img style="width: 49%; height: auto;" src="img/WzC5kOzfRL64A6XULl84_Einkaufen.png" height="auto" width="49%">
        <img style="width: 49%; height: auto;" src="img/pMPbPwJGQViTj9tBfT6v_Einkäufe verwalten.png" height="auto" width="49%">
        <img style="width: 49%; height: auto;" src="img/nmvoKlftQoel79hBysRP_Gruppenverwaltung.png" height="auto" width="49%">
        <img style="width: 49%; height: auto;" src="img/gCUJzdK2QIYk21JGhTbA_Auswertungen.png" height="auto" width="49%">
        <img style="width: 49%; height: auto;" src="img/OcGuIqvgQwanaKb6X99U_Verwaltung.png" height="auto" width="49%">
        <img style="width: 49%; height: auto;" src="img/wv07A7AwSF67AUbpmY4O_Einstellungen.png" height="auto" width="49%">
    </ion-content>
</ion-view>