<ion-view style="" title="Neue Gruppe">
    <ion-content class="has-header" padding="'true'">
        <form style="" class="list">
            <label style="" class="item item-input">
                <span class="input-label">Name :</span>
                <input placeholder="" type="text">
            </label>
        </form>
        <h4 style="">User auswählen :</h4>
        <form style="" class="list">
            <label style="" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="User Suchen" type="search">
            </label>
            <ion-checkbox style="">Eric</ion-checkbox>
            <ion-checkbox style="">Flo</ion-checkbox>
            <ion-checkbox style="">Basti</ion-checkbox>
            <ion-checkbox style="">Viktor</ion-checkbox>
            <ion-checkbox style="">Helmut</ion-checkbox>
            <ion-checkbox style="">Peter</ion-checkbox>
            <ion-checkbox style="">Willi</ion-checkbox>
            <ion-checkbox style="">Fritz</ion-checkbox>
        </form>
        <a style="" class="button button-stable button-block " href="#/side-menu/groups" menu-close="">Gruppe erstellen</a>
    </ion-content>
</ion-view>